@media screen and (mid-width: 480px){
    * {
background-color: rgb(168, 226, 235);
color:rgb(106, 122, 114);
font-family: georgia;
    }
}
@media screen and (max-width: 479px){
    * {
        background-color: rgb(214, 245, 245);
        color:rgb(27, 25, 25);
        font-family: arial;
    }  
}


h1,h2,h3 {
    font-family: Verdana;
    color: rgb(14, 80, 105); 

}

h1 {
    font-size: 2.0em;
}
h2 {
    font-size: 1.5em;
}

section {
    margin: 20px;
    padding: 5px;
}

a{
    color: #888;
}

a:visited{
    color:rgb(98, 90, 161);
}

a:hover {
    color: #aaa;   
}

button{
    background-color: rgb(30, 255, 0);
    border-radius: 20px;
    border: 5px;
    border-color: purple;
    color: black;
    padding: 8px;
    margin: 10px;
}
button:hover{
    background-color: purple;
    border-color: yellow;
    color: #FFF;
}

.experience {
    display: block;
    background-color: rgba(239, 65, 65, 0.915);
}

.footer {
    padding: 30px;
    margin: 20px;
    background-color: #111;
    color: #888;
    font-size: 0.5em;
}

.skills {
    display: block;
    background-color: fuchsia;
}

.connect {
    display: block;
    background-color: aquamarine;
}


.contact{
    display: block;
    background-color: rgba(18, 213, 28, 0.667) ;
}


.remove_botton{
    background-color: rgb(177, 125, 125);
    color: #ddd;
}

.edit_button{
    background-color: #091;
    color: #ddd;
}


.messages{
    display: block;
    background-color: rgb(84, 127, 132);
}

.messages:botton{
    background-color: orange;
    border-radius: 15px;
    border: 2px;
    border-color: yellow;
    color: black;
}

.tooltip {
    visibility: hidden;
    position: relative;
    display: inline-block;
    width: 120px;
    background-color: rgb(91, 35, 122);
    color: #FFF;
    padding: 5px 0px 5px 15px;
    border-radius: 6px;
    font-size: 0.5em;
    margin: 0px 0px 0px 10px;
}

.item:hover .tooltip {
    visibility: visible;
}